/node_modules
/ios/HIDMobileLibraryModule/Pods
/ios/HIDMobileLibraryModule/.DS_Store
# /ios/HIDMobileLibraryModule/HIDMobileLibraryModule.xcworkspace/
# /ios/HIDMobileLibraryModule/HIDMobileLibraryModule.xcodeproj/
/ios/HIDMobileLibraryModule/Origo_Keys_iOS_SDK
/ios/.DS_Store
.DS_Store
**/.DS_Store
/ios/HIDMobileLibraryModule/Podfile.lock

xcuserdata/


# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json 
android/.gradle